@font-face {
    font-family: Trispace;
    src: url("../fonts/Trispace-Regular.ttf")  format('truetype');
    font-weight: normal;
}

@font-face{
    font-family: Trispace;
    src:url("../fonts/Trispace-Bold.ttf")  format('truetype');
    font-weight: bold;
        
}

body{
    font-family:Trispace,serif;
    background-color: rgb(41, 41, 41);
    margin:0;
    background-color: rgb(228, 230, 238);

}


/* Submit Button */
button[type=submit]{
    width:11rem;
    font-family: Trispace;
    font-size: 0.9rem;
    color:white;
    padding:10px 10px;
    border-radius: 7px;
    border: 1px solid black;
    background-color: rgb(48, 48, 173);
}

button[type=submit]:hover{
    background-color: rgb(24, 24, 131);
}

button[type=submit]:active{
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    transform: scale(0.99);
}

/* Side Hero */

.side-hero{
    display:flex;
    align-items: center;
    /* flex:1; */
    height:300px;
    background-image: url(../img/milkyway-background.jpeg);
    background-size: cover;
    background-position: center;
}

.title{
    width:100%;
    padding:3px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(115, 115, 115, 0.193);
}

.title h1{
    font-size:3rem;
    color:rgb(242, 242, 242);
    margin:0;
}

.title img{
    height:75px;
    width:75px;
    padding:10px;
}

/* Form */

.side-form{
    background-color: rgb(228, 230, 238);
    flex:1.5;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.header{
    margin-bottom: 10px;
    max-width: 650px;
    font-size: 1.1rem;
    padding:0 30px;
}

.form{
    background-color: rgb(238, 241, 253);
    padding: 20px 0;
    box-shadow: 1px 3px 2px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 10px 45px;

}

.input-section{
    display:flex;
    flex-direction: column;
    align-items: center;

}

form{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px 20px;
    width:100%;
}

form div{
    width:15rem;
}

form input{
    width:14rem;
    height:1.5rem;
    font-size: 1rem;
    padding:3px 5px;
    border-radius: 5px;
    border: 1px grey solid;
}

form label{
    font-size: 0.8rem;
}

/* Form footer */

.form-submit{
    display:flex;
    flex-direction: column;
    margin:30px 0;
    align-items: center;
}

.form-submit > p {
    max-width: 15rem;
    text-align: center;
}

/* Input format */
form > div{
    position: relative;
}

input{
    outline:none;
}

input:focus:invalid{
    outline:none;
    border: 1px solid #d62629;
}

input:focus:valid{
    outline:none;
    border: 1px solid #26d63e;
}

input[type="tel"]:invalid:focus + span::after{
    content: "Format 000-000-0000";
    color:red;
    font-size: 0.6rem;
    position:absolute;
    left:0;
    bottom:-12px;
}

input[type="password"] + span{
    display:none;
}

input[type="password"]:invalid:focus + span{
    display:block;
    color:red;
    font-size: 0.6rem;
    position:absolute;
    left:0;
    top:50px;
    white-space: pre;
}



@media screen and (min-width: 900px) {
    .container{
        display:flex;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .container{
        flex-direction: row;
        justify-content: space-between;
    }

    .side-form > div{
        padding-left:30px;
    }

    .input-section{
        flex-direction: column;
        align-items: flex-start;    
    }

    form{
        justify-content: flex-start;
    }

    .side-hero{
        height:100vh;
        flex:1;
    }

    .form-submit{
        align-items: flex-start;
    }

    .form-submit > p {
        max-width: 100%;
    }
  }

  @media screen and (max-width: 519px){
    form > div{
        margin-bottom: 15px;;
    }
  }